In [1]:
import pandas as pd

In [5]:
from sklearn.linear_model import LinearRegression
import numpy as np

In [11]:
import os
print(os.listdir())  # List all files in the current directory

['Untitled1.ipynb', '.DS_Store', 'python', '.localized', 'Untitled.ipynb', 'aathma rama.band', 'GitHub', 'MATLAB', '.ipynb_checkpoints', 'aathma rama - 03:05:23, 4.36 PM. 2.mp3']

In [13]:
import os
print(os.listdir())  # List all files in the current directory

['Untitled1.ipynb', '.DS_Store', 'python', '.localized', 'Untitled.ipynb', 'aathma rama.band', 'GitHub', 'Traffic_Counts_2011-2012.csv', 'MATLAB', '.ipynb_checkpoints', 'aathma rama - 03:05:23, 4.36 PM. 2.mp3']

In [15]:
data = pd.read_csv('Traffic_Counts_2011-2012.csv')

In [17]:
data.head()

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0

In [19]:
data.tail()

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
3388,3389,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/10/2012,6,4,7,...,24.0,54.0,32.0,21.0,27.0,23.0,20.0,22.0,10.0,10.0
3389,3390,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/11/2012,7,4,4,...,27.0,39.0,38.0,32.0,39.0,28.0,28.0,17.0,16.0,13.0
3390,3391,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/12/2012,5,2,5,...,33.0,69.0,35.0,30.0,29.0,30.0,24.0,13.0,11.0,8.0
3391,3392,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/13/2012,6,5,8,...,31.0,59.0,35.0,26.0,26.0,20.0,24.0,19.0,18.0,13.0
3392,3393,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/14/2012,11,11,7,...,26.0,25.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3393 entries, 0 to 3392
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             3393 non-null   int64
 1   GIS ID         3393 non-null   int64
 2   Roadway Name   3393 non-null   object
 3   From           3393 non-null   object
 4   To             3393 non-null   object
 5   Direction      3393 non-null   object
 6   Date           3393 non-null   object
 7   12:00-1:00 AM  3393 non-null   int64
 8   1:00-2:00AM    3393 non-null   int64
 9   2:00-3:00AM    3393 non-null   int64
 10  3:00-4:00AM    3393 non-null   int64
 11  4:00-5:00AM    3393 non-null   int64
 12  5:00-6:00AM    3393 non-null   int64
 13  6:00-7:00AM    3393 non-null   int64
 14  7:00-8:00AM    3393 non-null   int64
 15  8:00-9:00AM    3393 non-null   int64
 16  9:00-10:00AM   3393 non-null   int64
 17  10:00-11:00AM  3393 non-null   int64
 18  11:00-12:00PM  3393 non-null   int64
 19  12:00-1:00PM   3140 non-null   float64
 20  1:00-2:00PM    3140 non-null   float64
 21  2:00-3:00PM    3140 non-null   float64
 22  3:00-4:00PM    3140 non-null   float64
 23  4:00-5:00PM    3140 non-null   float64
 24  5:00-6:00PM    3140 non-null   float64
 25  6:00-7:00PM    3140 non-null   float64
 26  7:00-8:00PM    3140 non-null   float64
 27  8:00-9:00PM    3140 non-null   float64
 28  9:00-10:00PM   3140 non-null   float64
 29  10:00-11:00PM  3140 non-null   float64
 30  11:00-12:00AM  3140 non-null   float64
dtypes: float64(12), int64(14), object(5)
memory usage: 821.9+ KB

In [23]:
data.describe()

,ID,GIS ID,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,3:00-4:00AM,4:00-5:00AM,5:00-6:00AM,6:00-7:00AM,7:00-8:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
count,3393.000000,3393.000000,3393.000000,3393.000000,3393.000000,3393.000000,3393.000000,3393.000000,3393.000000,3393.000000,...,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000
mean,1697.000000,69728.759505,101.795756,66.419688,49.033893,42.634247,55.322429,96.768052,202.911583,366.245800,...,364.927389,405.768790,408.199363,411.295223,367.060828,303.625159,243.284395,199.435987,161.675159,127.013376
std,979.619059,39720.749635,96.973304,69.539668,55.143945,51.341276,64.557344,115.331687,228.621699,325.066892,...,296.925241,337.763846,346.564572,351.184241,319.304833,267.100687,215.554661,180.260676,155.010488,129.900623
min,1.000000,646.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,849.000000,45137.000000,46.000000,27.000000,19.000000,16.000000,20.000000,36.000000,78.000000,160.000000,...,180.000000,201.000000,201.750000,197.000000,169.750000,136.000000,101.750000,83.000000,64.000000,45.000000
50%,1697.000000,71645.000000,78.000000,49.000000,34.000000,29.000000,38.000000,65.000000,138.000000,279.000000,...,310.000000,352.000000,353.000000,353.500000,315.000000,265.000000,209.000000,172.000000,134.500000,103.000000
75%,2545.000000,88779.000000,125.000000,83.000000,61.000000,52.000000,65.000000,110.000000,239.000000,472.000000,...,482.000000,534.000000,541.250000,540.250000,485.000000,407.000000,327.000000,267.000000,214.000000,170.000000
max,3393.000000,194613.000000,1143.000000,974.000000,794.000000,673.000000,690.000000,964.000000,2136.000000,2381.000000,...,2377.000000,3345.000000,3701.000000,3751.000000,3489.000000,3012.000000,1944.000000,1475.000000,1342.000000,1327.000000

In [25]:
data.fillna(0)

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3388,3389,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/10/2012,6,4,7,...,24.0,54.0,32.0,21.0,27.0,23.0,20.0,22.0,10.0,10.0
3389,3390,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/11/2012,7,4,4,...,27.0,39.0,38.0,32.0,39.0,28.0,28.0,17.0,16.0,13.0
3390,3391,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/12/2012,5,2,5,...,33.0,69.0,35.0,30.0,29.0,30.0,24.0,13.0,11.0,8.0
3391,3392,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/13/2012,6,5,8,...,31.0,59.0,35.0,26.0,26.0,20.0,24.0,19.0,18.0,13.0
3392,3393,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/14/2012,11,11,7,...,26.0,25.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
data

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3388,3389,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/10/2012,6,4,7,...,24.0,54.0,32.0,21.0,27.0,23.0,20.0,22.0,10.0,10.0
3389,3390,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/11/2012,7,4,4,...,27.0,39.0,38.0,32.0,39.0,28.0,28.0,17.0,16.0,13.0
3390,3391,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/12/2012,5,2,5,...,33.0,69.0,35.0,30.0,29.0,30.0,24.0,13.0,11.0,8.0
3391,3392,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/13/2012,6,5,8,...,31.0,59.0,35.0,26.0,26.0,20.0,24.0,19.0,18.0,13.0
3392,3393,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/14/2012,11,11,7,...,26.0,25.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
data.dropna()

,ID,GIS ID,Roadway Name,From,To,Direction,Date,12:00-1:00 AM,1:00-2:00AM,2:00-3:00AM,...,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM,6:00-7:00PM,7:00-8:00PM,8:00-9:00PM,9:00-10:00PM,10:00-11:00PM,11:00-12:00AM
0,1,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/09/2012,20,10,11,...,104.0,105.0,147.0,120.0,91.0,83.0,74.0,49.0,42.0,42.0
1,2,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/10/2012,21,16,8,...,102.0,98.0,133.0,131.0,95.0,73.0,70.0,63.0,42.0,35.0
2,3,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/11/2012,27,14,6,...,115.0,115.0,130.0,143.0,106.0,89.0,68.0,64.0,56.0,43.0
3,4,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/12/2012,22,7,7,...,71.0,127.0,122.0,144.0,122.0,76.0,64.0,58.0,64.0,43.0
4,5,15540,BEACH STREET,UNION PLACE,VAN DUZER STREET,NB,01/13/2012,31,17,7,...,113.0,126.0,133.0,135.0,102.0,106.0,58.0,58.0,55.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3388,3389,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/10/2012,6,4,7,...,24.0,54.0,32.0,21.0,27.0,23.0,20.0,22.0,10.0,10.0
3389,3390,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/11/2012,7,4,4,...,27.0,39.0,38.0,32.0,39.0,28.0,28.0,17.0,16.0,13.0
3390,3391,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/12/2012,5,2,5,...,33.0,69.0,35.0,30.0,29.0,30.0,24.0,13.0,11.0,8.0
3391,3392,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/13/2012,6,5,8,...,31.0,59.0,35.0,26.0,26.0,20.0,24.0,19.0,18.0,13.0
3392,3393,7886,WILLOWBROOK ROAD,SENECA LOOP,COLLFIELD AVENUE,WB,01/14/2012,11,11,7,...,26.0,25.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Assuming 'data' is your DataFrame

# Extract 'day_of_week' from the 'Date' column
data['day_of_week'] = pd.to_datetime(data['Date']).dt.dayofweek

# Reshape the DataFrame to have a 'hour' column and traffic volumes as rows
hourly_columns = ['12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM', '4:00-5:00AM',
                  '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM', '8:00-9:00AM', '9:00-10:00AM',
                  '10:00-11:00AM', '11:00-12:00PM', '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM',
                  '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
                  '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM']

# Stack the hourly traffic columns
data_melted = data.melt(id_vars=['Date', 'day_of_week'], 
                        value_vars=hourly_columns, 
                        var_name='hour', 
                        value_name='traffic_volume')

# Create a numeric 'hour' column from the time range string (optional)
data_melted['hour'] = data_melted['hour'].str.extract(r'(\d{1,2}):')[0].astype(int)

# Remove rows with NaN values in 'traffic_volume'
data_melted.dropna(subset=['traffic_volume'], inplace=True)

# Now X will contain 'hour' and 'day_of_week', and y will be 'traffic_volume'
X = data_melted[['hour', 'day_of_week']].values
y = data_melted['traffic_volume'].values

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Define a prediction function
def predict_traffic(location, hour, day_of_week):
    prediction = model.predict(np.array([[hour, day_of_week]]))
    return {'location': location, 'predicted_traffic': prediction[0]}


print(result)

{'location': 'Main Street', 'predicted_traffic': 299.10853475092875}